automation/n8n/workflows/client-intake-router.json
{
  "name": "Cinemora Client Intake Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "cinemora-intake",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4d0a3072-3d79-4eb7-9fb6-2bcf2a8be201",
      "name": "Client Intake Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        280
      ],
      "webhookId": "cinemora-intake"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f4d5019f-3084-441f-b5d7-a9daaf44ee01",
              "name": "formType",
              "value": "={{$json.body.formType}}",
              "type": "string"
            },
            {
              "id": "d7d7ce90-4465-4e56-82b4-c6ab47831af0",
              "name": "receivedAt",
              "value": "={{$json.body.receivedAt}}",
              "type": "string"
            },
            {
              "id": "2e306149-9b0e-4923-b4a0-e2e22bd3ee7f",
              "name": "name",
              "value": "={{$json.body.payload.name}}",
              "type": "string"
            },
            {
              "id": "77084c54-fc90-44e9-9134-8bc7182d7c65",
              "name": "email",
              "value": "={{$json.body.payload.email}}",
              "type": "string"
            },
            {
              "id": "84e0f9e6-c995-42f4-89cf-729847397804",
              "name": "company",
              "value": "={{$json.body.payload.company}}",
              "type": "string"
            },
            {
              "id": "c0f57db8-c860-41c0-a607-9006ec12e571",
              "name": "rawPayload",
              "value": "={{JSON.stringify($json.body.payload)}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "54d39465-f7c6-4276-bc07-c3c3ca7b4939",
      "name": "Normalize Intake",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        540,
        280
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"ok\":true,\"workflow\":\"Cinemora Client Intake Router\",\"formType\":$json.formType,\"email\":$json.email}",
        "options": {}
      },
      "id": "d7b2311a-9f7d-4a2d-a590-5ef8528efb13",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        820,
        280
      ]
    }
  ],
  "connections": {
    "Client Intake Webhook": {
      "main": [
        [
          {
            "node": "Normalize Intake",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Intake": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "settings": {},
  "active": false,
  "versionId": "a506a761-33ec-4d70-bf93-4547a6e89db1",
  "id": "10",
  "tags": []
}
